<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign in & Sign up Form</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <header>
      <input type ="checkbox" name ="" id ="chk1">
      <div class="logo"><h1>CharmAbode</h1></div>
      <!-- <div class="search-box">
        <form>
          <input type ="text" name ="search" id ="srch" placeholder="Search">
          <button type ="submit"><i class="fa fa-search"></i></button>
        </form>
      </div> -->
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Design</a></li>
        <li><a href="#">About us</a></li>
        <li><a href="/contact/">Contact</a></li>
        <li>
          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-instagram"></i></a>

        </li>
      </ul>
    <div class="menu">
  <label for="chk1">
    <i class="fa fa-bars"></i>
  </label>
  </div>
  </header>
    <main>
      <div class="box">
        <div class="inner-box">
          <div class="forms-wrap">
            <!-- <form id = "login-form" action="{% url 'authentication_app:auth' %}" method = "post" autocomplete="off" class="sign-in-form"> -->
              <form id = "login-form"  method = "post" autocomplete="off" class="sign-in-form">
              {% csrf_token %}
              <input type="hidden" name="form_type" value="signin">
              <div class="logo">
                <h4>CharmAbode</h4>
              </div>

              <div class="heading">
                <h2>Welcome Back</h2>
                <h6>Not registred yet?</h6>
                <a href="#" class="toggle">Sign up</a>
              </div>
              
                <div class="actual-form">
                  <div class="input-wrap">
                    <input 
                       type="text"
                       name = "username"
                      minlength="4"
                      class="input-field"
                      autocomplete="off"
                      required
                    /> 
                    <label>Username</label>
                  </div>
  
                  <div class="input-wrap">
                    <input
                      type="password"
                      name = "password"
                      minlength="4"
                      class="input-field"
                      autocomplete="off"
                      required
                    />
                    <label>Password</label>
                  </div>
  
                  <input type="submit" value="Sign In" class="sign-btn" />
  
                  <p class="text">
                    Forgot password ?
                    <a href="#">Get help</a> signing in
                  </p>
                </div>
              </form>
  
                <!--  <div class="actual-form">
                  {{ login_form.username.label_tag }}
                {{ login_form.username }}
                {{ login_form.password.label_tag }}
                {{ login_form.password }}
                <input type="submit" value="Sign In" class="sign-btn" />
                <p class="text">
                    Forgot password ? <a href="#">Get help</a> signing in
                </p>
            </div>
        </form> -->

            <form id = "signup-form" action="{% url 'authentication_app:auth' %}" method = "post" autocomplete="off" class="sign-up-form">
              {% csrf_token %}
              <input type="hidden" name="form_type" value="signup">
              <div class="logo">
                <h4>CharmAbode</h4>
              </div>

              <div class="heading">
                <h2>Get Started</h2>
                <h6>Already have an account?</h6>
                <a href="#" class="toggle">Sign in</a>
              </div>

              <div class="actual-form">
                <div class="input-wrap">
                  <input 
                    type="text"
                    name = "username"
                    minlength="4"
                    class="input-field"
                    autocomplete="off"
                    required
                    /> 
                  <label>Username</label>
                </div>

                <div class="input-wrap">
                  <input
                    type="email"
                    name = "email"
                    class="input-field"
                    autocomplete="off"
                    required
                  />
                  <label>Email</label>
                </div>

                <div class="input-wrap">
                  <input
                    type="password"
                    name = "password"
                    minlength="4"
                    class="input-field"
                    autocomplete="off"
                    required
                  />
                  <label>Password</label>
                </div>

                <div class="input-wrap">
                  <input
                    type="password"
                    name = "password2"
                    minlength="4"
                    class="input-field"
                    autocomplete="off"
                    required
                  />
                  <label>Confirm Password</label>
                </div>

                <input type="submit" value="Sign Up" class="sign-btn" />

                <p class="text">
                  By signing up, I agree to the
                  <a href="#">Terms of Services</a> and
                  <a href="#">Privacy Policy</a>
                </p>
              </div>
            </form>
          </div>
<!-- 
          <div id="toast-container" class="toast-container">
            <div id="toast" class="toast"></div>
        </div>
         -->
<!-- 
          {% if error_message %}
          <div class="error-message">
              {{ error_message }}
            </div>
          {% endif %} -->

          <div class="error-box ">
            {% if error_message %}
                {{ error_message }}
            {% endif %}
        </div>
        

          <!-- {% if error_message %}
    <script>
        showToast("{{ error_message }}", 50000); // Display for 5 seconds (5000 milliseconds)
    </script>
{% endif %} -->

<!-- 
              <div class="actual-form">
                    {{ signup_form.username.label_tag }}
                    {{ signup_form.username }}
                    {{ signup_form.email.label_tag }}
                    {{ signup_form.email }}
                    {{ signup_form.password.label_tag }}
                    {{ signup_form.password }}
                    <input type="submit" value="Sign Up" class="sign-btn" />
                    <p class="text">
                        By signing up, I agree to the <a href="#">Terms of Services</a> and <a href="#">Privacy Policy</a>
                    </p>
                </div>
            </form>
          </div> -->

          <div class="carousel">
            <div class="image-wrapper">
              <img src="{% static 'img/image1.jpeg' %}" class="image img-1 show" alt="" />
              <!-- <img src="./img/image2.jpeg" class="image img-2" alt="" /> -->
              <img src="{% static 'img/image3.jpeg' %}" class="image img-3" alt="" />
            </div> 
<!--     
            <div class="container">
              <div class="wrapper">
                  <img src="img/image1.jpeg">
                  <img src="img/image2.jpeg">
                  <img src="img/image3.jpeg">
      
              </div>
           -->

            <!-- <div class="text-slider">
                <div class="text-wrap">
                <div class="text-group">
                  <h2>Create your own courses</h2>
                  <h2>Customize as you like</h2>
                  <h2>Invite students to your class</h2>
                </div>
              </div>   -->

              <!-- <div class="bullets">
                <span class="active" data-value="1"></span>
                <span data-value="2"></span>
                <span data-value="3"></span>
              </div> -->
            <!-- </div> -->

            <div class="bullets">
              <span class="active" data-value="1"></span>
              <span data-value="2"></span>
              <span data-value="3"></span>
            </div>
          </div>
          </div>
        </div>
      </div> 
    </main>

    <!-- Javascript file -->

    <script type = "text/javascript" >
      const inputs = document.querySelectorAll(".input-field");
const toggle_btn = document.querySelectorAll(".toggle");
const main = document.querySelector("main");
const images = document.querySelectorAll(".image");

inputs.forEach((inp) => {
  inp.addEventListener("focus", () => {
    inp.classList.add("active");
  });
  inp.addEventListener("blur", () => {
    if (inp.value != "") return;
    inp.classList.remove("active");
  });
});

toggle_btn.forEach((btn) => {
  btn.addEventListener("click", () => {
    main.classList.toggle("sign-up-mode");

    // Toggle active image based on the current mode
    images.forEach((image) => {
      image.classList.toggle("show");
    });
  });
});
function showToast(message, duration) {
    const toastContainer = document.getElementById('toast-container');
    const toast = document.getElementById('toast');

    toast.textContent = message;
    toastContainer.style.display = 'block';

    setTimeout(function() {
        toastContainer.style.display = 'none';
    }, duration);
}

    </script> 
  </body>
</html>