<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>3D Room</title>
    {% load static %}
    <style>
        body {
            margin: 0;
            overflow: hidden;
        }
    </style>
</head>
<body>
    <script src="{% static 'objects/room.js' %}" type="module"></script>
    <div>
        <label for="roomWidth">Room Width (meters):</label>
        <input type="number" id="roomWidth" step="0.1" value="4">
        <label for="roomHeight">Room Height (meters):</label>
        <input type="number" id="roomHeight" step="0.1" value="2.5">
        <label for="roomDepth">Room Length (meters):</label>
        <input type="number" id="roomDepth" step="0.1" value="6">
        <button onclick="generateRoom()">Generate Room</button>
    </div>
    <button id="next">Next</button>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
    <!-- <script src="room.js" type="module"></script> -->
    <script>
        document.getElementById("next").addEventListener("click", function() {
            window.location.href = "/design/";
        });
    </script>
</body>
</html> -->